body {
    padding: 72px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.container > * {
    margin: 16px;
}
.container > div {
    position: relative;
}

.crop {
    position: absolute;
}
.face {
    position: absolute;
}
